*{
    font-family: "Joan", serif;
    color: white;
}

/*Mobile First*/

/*Demarking elements
header, main, aside, footer {
  border: 2px dashed white;
}*/

/*General elements*/
button{
    background-color: transparent;
    border: transparent;
}
button:active{
    filter: brightness(0.8);
}

body{
    display: grid;
    grid-template-areas:
    "header header"
    "main main"
    "aside footer";
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: auto 1fr auto;

    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    height: 100vh;
    background-color: black;
}

/*Major Sections Styled First*/
header{
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

aside{
    grid-area: aside;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

footer{
    grid-area: footer;
}

/*Header Children Styles*/
.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}
.brand img{
    height: 40px;
    width: 40px;
}
.brand h1{
    font-size: 1.5rem;
}


/*Navigaton Menu
Mobile First*/
.timeout-set{
    width: 100%;
    height: 100vh;
    background-color: rgba(17, 0, 100, 0.701);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}
nav{
    position: absolute;
    z-index: 1000;
    width: 400px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-dropdown{
    background-color: white;
    border-radius: 5%;
    box-shadow: 2px 2px 20px #270529;
    padding: 5%;
    text-align: center;
    font-size: 1.5rem;
}

.hidden{
    display: none;
}

/*Navigation Children Styles*/
.nav-title{
    font-weight: bolder;
    margin: 2rem 0;
}
.subheading{
    padding: 1.5rem;
}
.subheading:active{
    background-color: hsl(9, 62%, 49%);
    border-radius: 5%;
}
.social-icons{
    display: flex;
    justify-content: space-between;
}

/*Main Children Styles*/
/*Timer*/
.timer-display, .timer-countdown, .timer-controls{
    padding: 0; margin: 0;
}

/*Timer Countdown*/
.timer-display img{
    height: 100px;
}
.timer-countdown{
    font-size: 5rem;
}

/*Timer Buttons*/
.timer-controls button{
    margin: 1rem;
}
.timer-controls i{
    font-size: 40px;
}
.btn-pause{
    display: none;
}


#timer-progress-background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url("images/background.png") repeat-x;
    background-size: auto 100%;
    animation: unset;
}
@keyframes backgroundImage {
    0%{ transform: translateX(-100%);}
    100% { transform: translateX(0);} 
}

#popup{
    display: none;
    position: absolute;
    z-index: 100;
    margin: 0 auto;
    width: 10rem;
    height: 6rem;
    text-align: center;
    padding-top: 3rem;
    background-color: #f49c8c;
    color: #171414;
    font-weight: bolder;
    border: #FF5638 solid 5px;
    border-radius: 20px;
}

/*Aside Children Styles*/
#session-counter{
    display: flex;
    gap: 10px;
    width: auto;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: width 0.5s ease; /* smooth expand */
    overflow: hidden;
}

.session-dot {
  width: 15px;
  height: 15px;
  background-color: unset;
  border-radius: 50%;
  opacity: 0;
  animation: fadeInDot 0.5s forwards;
}

@keyframes fadeInDot {
  to {
    opacity: 1;
  }
}

/*Footer Children Styles*/

/*Font Awesome Icons*/

/*Desktop Version*/
@media (min-width: 768px) {
    body{
        grid-template-areas:
        "header aside"
        "main main"
        "footer footer";
    }
    header{
        flex-direction: row-reverse;
    }
}